p{
  color: rgb(70, 144, 238);
  background-color: red;
  width: 300px;
}
.first{
  background-color: magenta;
  color: #389e17;
}

#second{
  background-color: yellow;
  height: 40px;
}

div{
  background-color: blue;
  width: 400px;
  height: 200px;
}

p#second{
  background-color: purple;
}
